@media screen and (max-width: 1000px){
    #logo-small img {
        /*margin-top: 30px;when header banner is here*/
        margin-top: 13px;
    }                   /*Custom css*/
    a.btn-st, a.btn-st:hover{
        /*left: 22%;*/
    }
    .mailchimp-single #mc_embed_signup_scroll input.button{
        background-position: 70px 13px;
    }
    #mcTagMap .holdleft, #sc_mcTagMap .holdleft{
        width: 206px !important;
        margin-left: 15px !important;
    }
    #nav-wrapper{
        /*height: 120px;when header banner is here*/
        height: 55px;
    }
    #search-button{
        /*top: -65px;when header banner is here*/
        top: -49px;
        padding: 20px;
    }
    #search-bar{
        top: 54px;
    }
    #mobi-nav select{
        display: block;
    }
    .page-parent .content-bgd .child-pages li{
        margin-bottom: 80px;
    }
}
@media screen and (max-width: 1002px) and (min-width: 768px) {

	.featured-excerpt,
	.prev,
	.next,
	#main-nav,
	.related-image {
		display: none;
		}

	#nav-inner {
		width: 100%;
		}

	#mobi-nav {
		display: inline;
		}

	#leaderboard-wrapper,
	
	#footer-top,
	#content-main {
		width: 768px;
		}
    #main-wrapper{
        width: 774px;
    }
	.logo-leader {
		margin: 20px 0 0;
		text-align: center;
		width: 100%;
		}

	#logo-medium,
	#leader-medium {
		float: none;
		max-width: none;
		width: 100%;
		}

	#logo-medium {
		display: inline-block;
		}

	#leader-medium {
		margin-bottom: 20px;
		}

	.home-full {
		width: 728px !important;
		}
			
	#feat1-main-wrapper,
	.feat1-main-img {
		width: 384px;
		height: 306px;
		}
		
	.feat1-main-img img {
		margin-left: -60px;
		width: 504px;
		height: 306px;
		}
		
	.feat1-main-text h2 {
		font-size: 36px;
		}
		
	#feat1-left-wrapper,
	#feat1-right-wrapper {
		width: 192px;
		}

	.feat1-left-img,
	.feat1-right-img {
		width: 192px;
		height: 153px;
		}
		
	.feat1-left-img img,
	.feat1-right-img img {
		margin-left: -30px;
		max-width: 253px;
		width: 253px;
		height: 153px;
		}
		
	.feat1-left-text,
	.feat1-right-text {
		padding: 10px;
		width: 172px;
		height: 133px;
		}
		
	.feat1-left-text p,
	.feat1-right-text p {
		font: 400 12px/16px 'Raleway', sans-serif;
		}
		
	#feat2-main-img {
		width: 506px;
		height: 306px;
		}
		
	#feat2-main-text {
		width: 202px;
		max-height: 246px;
		}
		
	#feat2-main-text h3 {
		font: 300 16px/16px 'Open Sans Condensed', sans-serif;
		}
		
	#feat2-main-text h2 {
		font-size: 22px;
		margin-bottom: 10px;
		}
		
	#feat2-main-text p {
		font: 400 12px/20px 'Raleway', sans-serif;
		}

	#top-story-contain {
		width: 598px;
		}
		
	.top-story-image {
		height: 91px;
		}

	#top-story-left,
	#top-story-right {
		padding: 10px;
		width: 150px;
		}

	#top-story-middle {
		width: 408px;
		}

	#middle-img {
		height: 247px;
		}

	#middle-text {
		width: 328px;
		}

	#middle-text h3 {
		font-size: 14px;
		}

	#middle-text h2 {
		font-size: 24px;
		}

	#middle-text p,
	#middle-text p a {
		font: 400 14px/20px 'Raleway', sans-serif;
		}

	#content-main,
	#featured-image img {
		width: 768px;
		}

	#home-main,
	.nav-links,
	#infscr-loading,
	#related-posts ul li {
		width: 728px;
		}

	.home-widget ul.split-columns {
		width: 748px;
		}

	.home-widget ul.split-columns li {
		width: 354px;
		height: 430px;
		}

	.home-widget ul.wide-widget li {
		margin-bottom: 200px;
		}

	.home-widget .wide-text {
		bottom: -150px;
		width: 648px;
		}

	.home-widget .home-list-img {
		width: 354px
		}
		
	.home-widget .home-list-content {
		width: 354px;
		}
		
	.wide-img img {
		width: 728px;
		}

	.social-box {
		height: auto;
		}
		
	.fb-like span {
		width: 90px !important;
		}
	
	h1.story-title {
		font-size: 28px;
		}

	#author-text {
		width: 608px;
		}

	#related-posts ul li {
		border-top: 1px dotted #ccc;
		margin: 0;
		padding: 10px 0;
		}

	#related-posts ul li:first-child {
		border-top: none;
		}

	.related-text {
		margin-top: 0;
		}

	.related-text a {
		font: 400 16px/22px 'Raleway', serif;
		}

	#footer-widget-wrapper {
		width: 758px;
		}

	.footer-widget {
		/*width: 339px;*/
        width: 100%;
		}

	#footer-nav .menu li {
		padding: 10px 15px 7px;
		}
		
	#sidebar-wrapper {
		/*border-top: 10px solid #192F3E;*/
		padding: 20px 20px 20px 0;
		/*width: 748px;*/
        width: 754px;
        float: left;
		}
		
	.sidebar-widget {
		margin-left: 20px;
		/*width: 354px;*/
        float: left;
        width: 734px;
		}

	}

@media screen and (max-width: 767px) and (min-width: 600px) {

	.featured-excerpt,
	.prev,
	.next,
	#main-nav,
	.related-image,
	.facebook-share p,
	.twitter-share p,
	.pinterest-share p,
	.google-share p {
		display: none;
		}

	#nav-inner {
		width: 100%;
		}

	#mobi-nav {
		display: inline;
		}

	#leaderboard-wrapper,
	#main-wrapper,
	#footer-top,
	#top-story-contain,
	#top-story-middle {
		width: 600px;
		}

	.logo-leader {
		margin: 20px 0 0;
		text-align: center;
		width: 100%;
		}

	#logo-medium,
	#leader-medium {
		float: none;
		max-width: none;
		width: 100%;
		}

	#logo-medium {
		display: inline-block;
		}

	#leader-medium {
		margin-bottom: 20px;
		}
		
	#feat1-main-wrapper,
	.feat1-main-img,
	.feat1-main-img img {
		width: 600px;
		height: 364px;
		}
		
	.feat1-main-img img {
		margin-left: 0;
		}
		
	#feat1-left-wrapper,
	#feat1-right-wrapper {
		width: 300px;
		}

	.feat1-left-img,
	.feat1-right-img {
		width: 300px;
		height: 200px;
		}
		
	.feat1-left-img img,
	.feat1-right-img img {
		margin-left: -15px;
		max-width: 330px;
		width: 330px;
		height: 200px;
		}
		
	.feat1-left-text,
	.feat1-right-text {
		width: 260px;
		height: 160px;
		}
		
	#feat2-main-img {
		width: 396px;
		height: 240px;
		}
		
	#feat2-main-text {
		padding: 20px;
		width: 164px;
		max-height: 200px;
		}
		
	#feat2-main-text h3 {
		font: 300 16px/16px 'Open Sans Condensed', sans-serif;
		}
		
	#feat2-main-text h2 {
		font-size: 22px;
		margin-bottom: 10px;
		}
		
	#feat2-main-text p {
		display: none;
		}

	#top-story-middle {
		border-left: none;
		border-right: none;
		border-bottom: 10px solid #111;
		float: left;
		}

	#middle-img {
		height: 364px;
		}

	#middle-text {
		width: 520px;
		}

	#top-story-left,
	#top-story-right {
		width: 560px;
		}

	.home-full {
		width: 560px !important;
		}

	ul.top-stories li {
		margin: 0 0 0 20px;
		width: 270px;
		}

	ul.top-stories li:first-child {
		margin-left: 0;
		}
		
	.top-story-image {
		height: 164px;
		}

	#content-main {
		width: 600px;
		}

	#home-main,
	.nav-links,
	#infscr-loading,
	#sidebar-wrapper,
	#related-posts ul li {
		width: 560px;
		}

	.home-widget ul.split-columns,
	.sidebar-widget ul.split-columns,
	.footer-widget ul.split-columns {
		width: 580px;
		}

	.home-widget ul.split-columns li,
	.sidebar-widget ul.split-columns li,
	.footer-widget ul.split-columns li {
		width: 270px;
		height: 430px;
		}

	.home-widget .split-text,
	.sidebar-widget .split-text,
	.footer-widget .split-text {
		max-height: 240px;
		}

	.home-widget .wide-img,
	.sidebar-widget .wide-img,
	.footer-widget .wide-img {
		height: 339px;
		}

	.home-widget .wide-text,
	.sidebar-widget .wide-text,
	.footer-widget .wide-text {
		width: 480px;
		}

	.home-widget .home-list-img,
	.home-widget .home-list-content,
	.sidebar-widget .home-list-img {
		width: 270px;
		}

	#author-text {
		width: 440px;
		}
		
	.facebook-share,
	.twitter-share,
	.pinterest-share,
	.google-share {
		margin: 0 5px 5px 0;
		width: 24%;
		}

	#related-posts ul li {
		border-top: 1px dotted #ccc;
		margin: 0;
		padding: 10px 0;
		}

	#related-posts ul li:first-child {
		border-top: none;
		}

	.related-text {
		margin-top: 0;
		}

	.related-text a {
		font: 400 16px/22px 'Raleway', serif;
		}

	#sidebar-wrapper {
		/*border-top: 10px solid #111;*/
		}

	.sidebar-widget ul.home-list li {
		padding: 20px 0;
		}

	.sidebar-widget .home-list-img {
		margin-right: 20px;
		}

	.sidebar-widget .home-list-content h2 {
		/*font-size: 24px;
		font-weight: 700;
		line-height: 120%;*/
        font: 300 15px/18px 'Raleway', sans-serif !important;
		}

	/*.sidebar-widget .home-list-content p,*/
	.sidebar-widget .home-list-content p a,
	.sidebar-widget span.widget-info a {
		color: #444;
		display: block;
		}

	/*.sidebar-widget .home-list-content p,*/
	.sidebar-widget .home-list-content p a {
		float: left;
		font: 400 14px/20px 'Raleway', sans-serif;
		width: 100%;
		}

	#footer-widget-wrapper {
		width: 590px;
		}

	.footer-widget {
		border-left: 0;
		margin: 20px 0;
		padding: 0;
		width: 100%;
		}

	#footer-nav .menu li {
		padding: 10px 15px 7px;
		}
		
	.woocommerce-page div.product div.images,
	.woocommerce-page div.product div.summary {
		width: 48% !important;
		}
		
	.woocommerce-page div.product div.images {
		float: left !important;
		}
		
	.woocommerce-page div.product div.summary {
		float: right !important;
		}
        a.btn-st, a.btn-st:hover{
            /*left: 12%;*/
        }
        #mcTagMap .holdleft, #sc_mcTagMap .holdleft{
            width: 240px !important;
            margin-left: 17px !important;
        }
	}

@media screen and (max-width: 599px) and (min-width: 480px) {

	.featured-excerpt,
	.prev,
	.next,
	#main-nav,
	.featured-shade,
	.related-image,
	.facebook-share p,
	.twitter-share p,
	.pinterest-share p,
	.google-share p {
		display: none;
		}

	#mobi-nav {
		display: inline;
		}

	.featured-text h2,
	.featured-text h2 a {
		font-size: 53px;
		}

	#leaderboard-wrapper,
	#main-wrapper,
	#footer-top,
	#top-story-contain,
	#top-story-middle {
		width: 480px;
		}
    
	#nav-inner{
        margin: 0;
        width: 100%;
    }
	.logo-leader {
		margin: 20px 0 0;
		text-align: center;
		width: 100%;
		}

	#logo-medium,
	#leader-medium {
		float: none;
		max-width: none;
		width: 100%;
		}

	#logo-medium {
		display: inline-block;
		}

	#leader-medium {
		margin-bottom: 20px;
		}
		
	#feat1-main-wrapper,
	.feat1-main-img,
	.feat1-main-img img {
		width: 480px;
		height: 291px;
		}
		
	.feat1-main-img img {
		margin-left: 0;
		}
		
	.feat1-main-text h2 {
		font-size: 46px;
		}
		
	.feat1-main-text {
		padding-bottom: 20px;
		}
		
	#feat1-left-wrapper,
	#feat1-right-wrapper {
		width: 240px;
		}

	.feat1-left-img,
	.feat1-right-img {
		width: 240px;
		height: 200px;
		}
		
	.feat1-left-img img,
	.feat1-right-img img {
		margin-left: -45px;
		max-width: 330px;
		width: 330px;
		height: 200px;
		}
		
	.feat1-left-text,
	.feat1-right-text {
		width: 200px;
		height: 160px;
		}
		
	#feat2-main-img {
		width: 480px;
		height: 291px;
		}
		
	.feat2-main-tri {
		display: none;
		}
		
	#feat2-main-text {
		width: 420px;
		max-height: none;
		}
		
	#feat2-main-text h3 {
		font: 300 16px/16px 'Open Sans Condensed', sans-serif;
		}
		
	#feat2-main-text h2 {
		font-size: 22px;
		margin-bottom: 10px;
		}
		
	#feat2-main-text p {
		font: 400 14px/20px 'Raleway', sans-serif;
		}
		
	ul.featured-items li img {
		opacity: 1;
		}
		
	ul.featured-items li:hover img {
		opacity: 1;
		}
		
	ul.featured-items li:hover .featured-excerpt {
		max-height: 0;
		}

	#top-story-middle {
		border-left: none;
		border-right: none;
		border-bottom: 10px solid #111;
		float: left;
		}
		
	.top-story-image {
		height: 137px;
		}

	#middle-img {
		height: 290px;
		}

	#middle-text {
		width: 400px;
		}

	#middle-text h3 {
		font-size: 14px;
		}

	#middle-text h2,
	.home-widget .wide-text h2,
	.home-widget .home-list-content h2,
	.sidebar-widget .wide-text h2 /*,
	.sidebar-widget .home-list-content h2*/ {
		font-size: 22px;
		}

	#top-story-left,
	#top-story-right {
		padding: 10px;
		width: 460px;
		}

	#top-story-right {
		margin-bottom: 10px;
		}

	ul.top-stories li {
		margin: 0 0 0 10px;
		width: 225px;
		}

	ul.top-stories li:first-child {
		margin-left: 0;
		}

	#content-main {
		width: 480px;
		}

	#home-main,
	.nav-links,
	#infscr-loading,
	#sidebar-wrapper,
	#related-posts ul li {
		width: 440px;
		}

	.home-full {
		width: 440px !important;
		}

	.home-widget ul.split-columns,
	.sidebar-widget ul.split-columns,
	.footer-widget ul.split-columns {
		width: 460px;
		}

	.home-widget ul.split-columns li,
	.sidebar-widget ul.split-columns li
	.footer-widget ul.split-columns li {
		width: 210px;
		height: 430px;
		}

	.home-widget .split-text,
	.sidebar-widget .split-text,
	.footer-widget .split-text {
		max-height: 210px;
		}

	.home-widget ul.split-columns li h2,
	.sidebar-widget ul.split-columns li h2,
	.footer-widget ul.split-columns li h2 {
		font-size: 25px;
		}

	.home-widget ul.split-columns li p,
	.sidebar-widget ul.split-columns li p,
	.footer-widget ul.split-columns li p {
		font-size: 18px;
		}

	.home-widget ul.wide-widget li,
	.sidebar-widget ul.wide-widget li,
	.footer-widget ul.wide-widget li {
		margin-bottom: 170px;
		}

	.home-widget .wide-img,
	.sidebar-widget .wide-img,
	.footer-widget .wide-img {
		height: 246px;
		}

	.home-widget .wide-text,
	.sidebar-widget .wide-text,
	.footer-widget .wide-text {
		bottom: -150px;
		width: 360px;
		}

	.home-widget .home-list-img,
	.home-widget .home-list-content,
	.sidebar-widget .home-list-img {
		width: 210px;
		}
	
	h1.story-title {
		font-size: 28px;
		}

	#author-text {
		width: 320px;
		}
		
	.facebook-share,
	.twitter-share,
	.pinterest-share,
	.google-share {
		margin: 0 5px 5px 0;
		width: 23%;
		}

	#related-posts ul li {
		border-top: 1px dotted #ccc;
		margin: 0;
		padding: 10px 0;
		}

	#related-posts ul li:first-child {
		border-top: none;
		}

	.related-text {
		margin-top: 0;
		}

	.related-text a {
		font: 400 16px/22px 'Raleway', serif;
		}

	#sidebar-wrapper {
		/*border-top: 10px solid #111;*/
		}

	.sidebar-widget ul.home-list li {
		padding: 20px 0;
		}

	.sidebar-widget .home-list-img {
		margin-right: 20px;
		}

	/*.sidebar-widget .home-list-content h2 {
		font-size: 24px;
		font-weight: 700;
		line-height: 120%;
		}*/

	/*.sidebar-widget .home-list-content p,*/
	.sidebar-widget .home-list-content p a,
	.sidebar-widget span.widget-info a {
		color: #444;
		display: block;
		}

	/*.sidebar-widget .home-list-content p,*/
	.sidebar-widget .home-list-content p a {
		float: left;
		font: 400 14px/20px 'Raleway', sans-serif;
		width: 100%;
		}

	#footer-widget-wrapper {
		width: 470px;
		}

	.footer-widget {
		border-left: 0;
		margin: 20px 0;
		padding: 0;
		width: 100%;
		}

	#footer-nav .menu li {
		padding: 10px 15px 7px;
		}
		
	.woocommerce-page div.product div.images,
	.woocommerce-page div.product div.summary {
		width: 48% !important;
		}
		
	.woocommerce-page div.product div.images {
		float: left !important;
		}
		
	.woocommerce-page div.product div.summary {
		float: right !important;
		}

    .shortcut{
            min-height: 650px;
        }
	}

@media screen and (max-width: 479px) {

	.featured-excerpt,
	.prev,
	.next,
	#main-nav,
	.featured-shade,
	span.comments-number,
	.related-image,
	.facebook-share p,
	.twitter-share p,
	.pinterest-share p,
	.google-share p {
		display: none;
		}

	#mobi-nav {
		display: inline;
		}

	#logo-small {
		max-width: 170px;
		}

	.logo-leader {
		margin: 20px 0 0;
		text-align: center;
		width: 100%;
		}

	#logo-medium,
	#leader-medium {
		float: none;
		max-width: none;
		width: 100%;
		}

	#logo-medium {
		display: inline-block;
		}

	#leader-medium {
		margin-bottom: 20px;
		}

	#featured-wrapper {
		width: 100% !important;
		}

	.featured-text h2,
	.featured-text h2 a {
		font-size: 45px;
		}

	#nav-inner,
	#leaderboard-wrapper,
	#main-wrapper,
	#footer-top,
	#top-story-contain,
	#top-story-middle,
	#content-main {
		width: 100%;
		}
		
	#feat1-main-wrapper,
	.feat1-main-img,
	.feat1-main-img img {
		width: 100%;
		height: auto;
		}
		
	.feat1-main-img img {
		margin-left: 0;
		}
		
	.feat1-main-text h2 {
		font-size: 30px;
		}
		
	.feat1-main-text {
		padding-bottom: 15px;
		}
		
	#feat1-left-wrapper,
	#feat1-right-wrapper {
		width: 50%;
		}

	.feat1-left-img,
	.feat1-right-img {
		overflow: hidden;
		width: 100%;
		height: 150px;
		}
		
	.feat1-left-img img,
	.feat1-right-img img {
		margin-left: 0;
		min-width: 250px;
		width: 100%;
		height: auto;
		}
		
	.feat1-left-text,
	.feat1-right-text {
		padding: 20px 8.35073068894%; /* 20px / 239.5px */
		width: 83.2985386221%; /* 199.5px / 239.5px */
		height: 110px;
		}
		
	.feat1-left-text p,
	.feat1-right-text p {
		display: none;
		}
		
	#feat2-main-img {
		width: 100%;
		height: auto;
		}
		
	.feat2-main-tri {
		display: none;
		}
		
	#feat2-main-text {
		padding: 20px 6.25%; /* 20px / 320px */
		width: 87.5%; /* 280px / 320px */
		max-height: none;
		}
		
	#feat2-main-text h3 {
		font: 300 16px/16px 'Open Sans Condensed', sans-serif;
		}
		
	#feat2-main-text h2 {
		font-size: 22px;
		margin-bottom: 10px;
		}
		
	#feat2-main-text p {
		font: 400 14px/20px 'Raleway', sans-serif;
		}
		
	ul.featured-items li img {
		opacity: 1;
		}
		
	ul.featured-items li:hover img {
		opacity: 1;
		}
		
	ul.featured-items li:hover .featured-excerpt {
		max-height: 0;
		}

	#top-story-middle {
		border-left: none;
		border-right: none;
		border-bottom: 10px solid #111;
		float: left;
		}
		
	.top-story-image {
		height: auto;
		}

	#middle-img {
		height: 194px;
		margin-bottom: 150px;
		}

	#middle-text {
		bottom: -150px;
		left: 10px;
		padding: 20px 6.25%; /* 20px / 320px */
		width: 81.25%; /* 260px / 320px */
		}

	#middle-text h3 {
		font-size: 12px;
		}

	#middle-text h2,
	.home-widget .wide-text h2 {
		font-size: 16px;
		margin-bottom: 10px;
		}

	#middle-text p,
	#middle-text p a,
	.home-widget .wide-text p,
	.home-widget .wide-text p a {
		font: 400 13px/18px 'Raleway', sans-serif;
		}

	#top-story-left,
	#top-story-right {
		padding: 10px 3.125%; /* 10px / 320px */
		width: 93.75%; /* 300px / 320px */
		}

	ul.top-stories li {
		margin: 0 0 0 3.3333333333%; /* 10px / 300px */
		width: 48.33333333333%; /* 145px / 300px */
		}

	ul.top-stories li:first-child {
		margin-left: 0;
		}

	#home-main,
	.nav-links,
	#infscr-loading,
	#sidebar-wrapper,
	#footer-widget-wrapper {
		width: 93.75%; /* 300px / 320px */
		}

	.home-widget .home-list-img,
	.home-widget .home-list-content,
	#related-posts ul li {
		width: 100%;
		}

	.home-full {
		width: 93.75% !important;
		}

	#home-main,
	#sidebar-wrapper,
	#footer-widget-wrapper {
		padding: 10px 3.125%; /* 10px / 320px */
		}

	.home-widget:last-child {
		margin-bottom: 10px;
		}

	h3.home-widget-header {
		font-size: 24px;
		}

	.home-widget ul.split-columns {
		margin: 0;
		width: 100%;
		}

	.home-widget ul.split-columns li {
		margin: 0 0 20px 0;
		width: 100%;
		}

	.home-widget .split-img {
		margin-bottom: 10px;
		}

	.home-widget .split-text {
		max-height: none;
		}

	.home-widget ul.split-columns #infscr-loading {
		margin-left: 0 !important;
		}

	.home-widget ul.wide-widget li {
		margin-bottom: 160px;
		}

	.home-widget .wide-img {
		height: 181px;
		}

	.home-widget .wide-text {
		left: 10px;
		bottom: -140px;
		padding: 20px 6.66666666666%; /* 20px / 300px */
		width: 80%; /* 240px / 300px */
		}

	.home-widget ul.home-list li {
		border-top: none;
		}

	.home-widget .home-list-img {
		margin: 0 0 3.125% 0; /* 10px / 320px */
		}

	.social-box {
		height: auto;
		}

	#sidebar-wrapper {
		/*border-top: 10px solid #111;*/
		}

	#author-info img {
		width: 70px;
		}

	#author-text {
		width: 210px;
		}
		
	.facebook-share,
	.twitter-share,
	.pinterest-share,
	.google-share {
		margin: 0 5px 5px 0;
		width: 23%;
		}
		
	h1.story-title {
		font-size: 28px;
		}

	#related-posts ul li {
		border-top: 1px dotted #ccc;
		margin: 0;
		padding: 10px 0;
		}

	#related-posts ul li:first-child {
		border-top: none;
		}

	.related-text {
		margin-top: 0;
		}

	.related-text a {
		font: 400 16px/22px 'Raleway', serif;
		}

	.footer-widget {
		border-left: 0;
		margin: 20px 0;
		padding: 0;
		width: 100%;
		}

	#footer-nav .menu li {
		padding: 10px 15px 7px;
		}
		
	.woocommerce table.shop_table td,
	.woocommerce-page table.shop_table td {
		padding: 6px !important;
		}

	}

@media screen and (max-width: 660px) and (min-width: 600px)  {

	ul.featured-items li img {
		margin-left: -30px;
		}

}

@media screen and (max-width: 600px) and (min-width: 360px)   {

	ul.featured-items li img {
		margin-left: -150px;
		}

}

@media screen and (max-width: 360px) {

	ul.featured-items li img {
		margin-left: -170px;
		}

}

/*Custom madia queries*/

@media screen and (min-width: 1000px) and (max-width: 1200px){
    #main-nav{
       max-width: 806px !important;
    }
    #main-nav .menu li a{
        /*font-size: 12px;
        font-weight: 400;
        padding: 21px 8px 20px;*/
    }
}

@media screen and (max-width: 769px){
    #logo-small {
        max-width: 210px;
    }
    #logo-small img{
        margin-top: 20px;
    }
    #search-button{
        top: -42px;
    }
    ul.article_list li{
        width: 47%;
    }
    ul.article_list li:nth-child(2n+1){
        margin-right: 6%;
    }
    .wdpu-text .mc_embed_signup {
        width: 80%;
    }
    .wdpu-text .mc_embed_signup .email, .wdpu-text .mc_embed_signup .button {
        font-size: 14px !important;
        padding: 12px 5px;
    }
    .mailchimp-single #mc_embed_signup_scroll input.button{
        background-position: 56px 13px;
    }
    .media-product-details{
       /* margin-bottom: 120px;*/
    }
    .media-product{
        min-height: 650px;
    }
    ul.child-pages .child-image{
        float: none;
    }
    .page-parent .content-bgd .child-pages li a img{
        display: block;
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px){
ul.article_list li:nth-child(2n+1){
    margin-right: 4%;
    }
    .shortcut-child{
        width: 48%;
        margin-bottom: 10px;
        margin-left: 0;
    }
    .shortcut-child:nth-child(2n+1){
        margin-left: 2%;
    }
    .shortcut-child:nth-child(2n){
        margin-left: 2%;
    }
    .mailchimp-single #mc_embed_signup_scroll input.button{
        background-position: 47px 12px;
    }
    #mcTagMap .holdleft, #sc_mcTagMap .holdleft{
        margin: 0 auto !important;
        float: none !important;
    }
    
    #nav-wrapper{
        /*height: 100px;*/
    }
}

@media screen and (max-width: 480px){
    #logo-small img {
       margin-top: 0px;
        position: relative;
        top: -35px;
        left: 80px;
    }
    #search-button {
        top: -70px;
    }
}

@media screen and (max-width: 600px){
    
    .media-product-page, .media-product-details{
        width: 100%;
        float: none;
    }
    .product-shipping{
        margin-bottom: 40px !important;
    }
    .product-buy{
        top: 16px;
        margin-bottom: 5px !important;
        margin-top: 10px;
    }
    .saving{
        width: 152px;
        position: relative;
        top: 16px;
        left: 0px;
        margin-top: -52px;
    }
    .saving h3{
        font-size: 15px;
        line-height: 15px;
    }
    .saving .arrow-down-related{
        top: 42px;
        right: 68px;
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 480px){
    #logo-small{
        margin: 0 10px 0 0px;
    }
    h1.designer-clothes{
        margin: 40px 0;
    }
    #search-bar{
        top: 51px;
    }
    .mailchimp-single{
        display: none;
    }
    ul.article_list li{
        width: auto !important;
        float: none !important;
    }
    ul.article_list li:nth-child(2n+1){
        margin-right: 0% !important;
        
    }
    ul.article_list li:before{
        width: 95%;
    }
    .shortcut {
        min-height: 1080px;
    }
    .shortcut-child, .shortcut-child:nth-child(2n+1), .shortcut-child:nth-child(2n){
        margin-left: 0px;
        width: 100%;
        margin-bottom: 20px;
    }
    #searchform{
        float: right;
    }
    #searchform input{
        width: 260px;
    }
    .more{
        top: -30px;
    }
    
}

@media screen and (min-width: 1002px){
    .sidebar-widget{
        margin-top: 52px;
    }
}

/*Filters css*/
@media (min-width: 1000px) {
    
    .sticky-filter.on .search-form {
        position: fixed;
        /*top: 115px;when header banner is here*/
        top: 80px;
        left: 0;
        z-index: 100;
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 0 0px 3px rgba(0,0,0,0.3);
    }
    .sticky-filter.on .search-form .filter-range{
        font-weight: 100;
        color: #111;
    }
    .sticky-filter.on .search-form .filter-range .filter-amount{
        color: #111;
    }
    .search-form-price {
        width: 254px;
    }
    .filter-apply{
        margin: 1px 0px;
        width: 100px !important;
        background-color: #000 !important;
    }
    .search-form-select{
        background-color: #000;
    }
    #mcTagMap .holdleft, #sc_mcTagMap .holdleft{
        width: 171px !important;
        margin-left: 15px !important;
    }
    
}
@media (min-width: 1020px) {
    /*.sticky-filter.on .search-form{
        top: 75px;
    }*/
}
@media (min-width: 1000px) and (max-width: 1200px) {
    .archive.category .sticky-filter.on .search-form-select, .sticky-filter.on .search-form-select{
        width: 17.5%;
    }
}

/*Sidebar*/

@media (min-width: 769px) {
    .sidebar-widget .home-list-content h2{
        margin: 10px 0;
    }
    ul.article_list li{
        width: 47%;
    }
}
/*Shop by brand*/

@media screen and (max-width: 767px){
   #mcTagMap .holdleft, #sc_mcTagMap .holdleft{
        float: none !important;
   } 
}

/*Header banner*/

@media (max-width: 769px){
    .header-banner{
        height: 60px;
    }
    .header-banner p a, .header-banner p a:hover {
        margin-top: 5px;
    }
}
@media (max-width: 408px){
    .header-banner{
        height: 75px;
    }
    #nav-wrapper{
        height: 55px;
    }
}